*CONTEXTO*
Problema: uma produtora de filmes chamada MegaPik está tendo prejuizos nos últimos filmes lançados. E através dos dados, a produtora quer saber o que o público gostou no passado para determinar se o sucesso passado dos filmes podem ser replicados.

Perguntas para descobrir o gosto do público:
1. Quais filmes tiveram maior bilheteria no fim de semana e primeira noite?
2. Quais generos foram melhores na bilheteria no fim de semana e primeira noite?
3. Quais paises tiveram maior bilheteria no fim de semana e primeira noite?
4. Em qual epoca do ano o público tem maior bilheteria?
5. Qual duração de filmes obtem maior bilheteria?

In [1]:
import pandas as pd

df = pd.read_csv("megapik_filmes_abertura_2010_2025.csv")

display(df.head())

,nome do filme,data lançamento,gênero,duração (min),origem,receita fim semana abertura,receita noite abertura,orçamento,custo marketing
0,Mirage,2022-05-04,thriller,112,Índia-WB,15.52,5.68,23.50,7.05
1,Storm: Afterlight,2015-05-07,action,124,Nigéria-Kano,43.78,18.28,50.79,20.40
2,Rush,2012-09-06,action,107,Reino Unido-NIR,19.87,9.04,32.85,16.94
3,Embers 2,2021-11-18,drama,121,Canadá-MB,18.37,5.91,35.19,16.28
4,Neon 2,2020-06-11,thriller,110,México-JAL,23.55,5.00,29.80,11.08

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   nome do filme                1000 non-null   object
 1   data lançamento              1000 non-null   object
 2   gênero                       1000 non-null   object
 3   duração (min)                1000 non-null   int64
 4   origem                       1000 non-null   object
 5   receita fim semana abertura  1000 non-null   float64
 6   receita noite abertura       1000 non-null   float64
 7   orçamento                    1000 non-null   float64
 8   custo marketing              1000 non-null   float64
dtypes: float64(4), int64(1), object(4)
memory usage: 70.4+ KB

In [3]:
# 1. Quais filmes tiveram maior bilheteria no fim de semana e primeira noite?
total_por_filme = df.groupby('nome do filme') [['receita fim semana abertura','receita noite abertura']].sum().reset_index()
total_por_filme = total_por_filme.sort_values(by='receita fim semana abertura', ascending=False)

total_por_filme["ranking"] = total_por_filme["receita fim semana abertura"].rank(method="dense", ascending=False).astype(int)

total_por_filme = total_por_filme[["ranking", "nome do filme", "receita fim semana abertura", "receita noite abertura"]]

display(total_por_filme.head(10))

,ranking,nome do filme,receita fim semana abertura,receita noite abertura
236,1,Rift,1176.87,384.30
227,2,Quantum,1099.50,349.43
37,3,Eclipse,1084.66,372.88
202,4,Paws,860.23,275.28
215,5,Pulse,838.59,329.12
11,6,Chronicles,826.67,285.40
274,7,Storm,802.33,317.61
0,8,Aurora,773.95,251.54
291,9,Voyage,758.87,242.60
250,10,Rush,645.10,233.76

In [4]:
# 2.
total_por_genero = df.groupby('gênero')[['receita fim semana abertura','receita noite abertura']].sum().reset_index()
total_por_genero = total_por_genero.sort_values(by="receita fim semana abertura",ascending=False)

total_por_genero ["ranking"] = total_por_genero["receita fim semana abertura"].rank(method="dense", ascending=False).astype (int)
total_por_genero = total_por_genero[["ranking", "gênero", "receita fim semana abertura", "receita noite abertura"]]

display(total_por_genero)

   ranking     gênero  receita fim semana abertura  receita noite abertura
7        1     sci-fi                      5939.88                 1984.36
0        2     action                      5834.19                 2153.03
1        3  adventure                      3347.59                 1061.92
4        4    fantasy                      3050.70                 1008.83
8        5   thriller                      2665.57                  928.72
2        6  animation                      1743.40                  538.92
3        7      drama                      1596.15                  491.27
5        8     horror                       761.54                  291.25
9        9    western                       622.04                  195.01
6       10    romance                       602.50                  185.77

In [5]:
#3. 

df ["origem"] = df["origem"].str.split("-").str[0]
filme_por_pais = df.groupby("origem")["origem"].count().sort_values(ascending=False)

total_por_area = df.groupby("origem")[["receita fim semana abertura", "receita noite abertura"]].sum().reset_index()
total_por_area = total_por_area.sort_values(by="receita fim semana abertura", ascending=False)

total_por_area ["ranking"] = total_por_area["receita fim semana abertura"].rank(method="dense", ascending=False).astype(int)
total_por_area = total_por_area[["ranking", "origem", "receita fim semana abertura", "receita noite abertura", "receita noite abertura"]]

display(filme_por_pais.head(10))
display(total_por_area.head(10))

origem
EUA              504
Brasil           187
Reino Unido       61
Índia             51
Canadá            46
Japão             31
França            29
Coreia do Sul     21
México            21
Espanha           13
Name: origem, dtype: int64

,ranking,origem,receita fim semana abertura,receita noite abertura,receita noite abertura
5,1,EUA,13589.19,4618.92,4618.92
2,2,Brasil,4737.25,1582.85,1582.85
11,3,Reino Unido,1370.65,472.19,472.19
12,4,Índia,1299.18,441.74,441.74
3,5,Canadá,1123.29,365.46,365.46
8,6,Japão,1001.90,338.94,338.94
7,7,França,759.74,241.37,241.37
4,8,Coreia do Sul,586.34,196.25,196.25
10,9,Nigéria,407.10,132.16,132.16
9,10,México,401.09,141.87,141.87

In [14]:
# 4 
df ["data lançamento"] = pd.to_datetime(df["data lançamento"], errors="coerce")
df ["mes"] = df["data lançamento"].dt.month

receita_mes_genero = df.groupby(["mes", "gênero"])["receita fim semana abertura"].sum().reset_index().sort_values(["mes", "receita fim semana abertura"], ascending=[True, False])

tabela_pivot = receita_mes_genero.pivot(index="gênero", columns="mes", values="receita fim semana abertura").fillna(0)

display(tabela_pivot)

mes,1,2,3,4,5,6,7,8,9,10,11,12
gênero,,,,,,,,,,,,
action,519.80,618.31,199.16,339.95,487.35,726.76,636.99,413.94,615.87,584.57,324.69,366.80
adventure,144.98,185.83,301.32,223.72,487.39,530.57,375.33,273.27,189.36,288.37,143.41,204.04
animation,44.60,101.89,173.93,67.22,70.75,364.00,349.50,94.28,65.04,226.64,103.13,82.42
drama,49.70,75.01,117.16,182.48,165.01,140.94,156.94,158.06,100.77,191.75,127.81,130.52
fantasy,237.29,147.75,164.24,218.65,342.42,289.42,335.77,149.85,71.71,200.66,353.67,539.27
horror,46.99,39.74,63.73,69.85,54.82,120.78,112.21,68.82,61.79,34.42,35.97,52.42
romance,43.59,64.49,53.35,90.72,40.63,50.53,55.57,39.68,15.21,76.49,12.78,59.46
sci-fi,305.41,583.39,678.46,226.49,515.90,203.06,717.77,476.41,440.81,1037.28,452.72,302.18
thriller,109.98,226.72,165.71,165.36,185.83,228.15,316.38,230.04,231.53,308.02,187.42,310.43
western,18.06,33.69,24.34,23.20,208.32,40.94,65.14,0.00,0.00,79.09,8.41,120.85